<h2>Books</h2>

<div class="book-list">
    <div class="book" *ngFor="let book of booksCollection | async">
        <mat-card>
            <mat-card-title>
                <a href="" [routerLink]="['/book', book.id]">
                    {{book.title}}
                </a>
            </mat-card-title>

            <mat-card-subtitle>
                {{book.author}}
            </mat-card-subtitle>

            <mat-card-content>
                <div class="image">
                    <a href="" [routerLink]="['/book', book.id]">
                        <img src="{{book.image}}" alt="{{book.title}}">
                    </a>
                </div>

                <p class="description">{{book.description | shorten:200}}</p>

                <h3>Price: {{book.price | money}}</h3>
            </mat-card-content>

            <mat-card-actions align="end">
                <button mat-button *ngIf="isAuthenticated | async" [routerLink]="['/book/edit', book.id]">
                    <mat-icon>edit</mat-icon> Edit
                </button>
                <button mat-flat-button color="warn" *ngIf="book.price" (click)="addToCart(book.id, book.price)">Add to Cart</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
