<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" [(opened)]="navOpened">
        <app-side-nav></app-side-nav>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <button mat-button (click)="sidenav.toggle()">
                    <mat-icon *ngIf="!navOpened">menu</mat-icon>
                    <mat-icon *ngIf="navOpened">close</mat-icon>
                </button>
                <nav>
                    <a routerLink="/">
                        <h1>
                            <mat-icon>keyboard</mat-icon>
                            {{title}}
                        </h1>
                    </a>
                </nav>
                <span class="example-spacer"></span>
                <nav>
                    <a routerLink="/books">Books</a>
                </nav>
                <nav>
                    <a routerLink="/cart" aria-label="cart"><mat-icon matBadge="{{cartItemsCount | async}}" matBadgeColor="warn">shopping_cart</mat-icon></a>
                </nav>
            </mat-toolbar-row>
        </mat-toolbar>
        <div id="main" class="container">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

