<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" [(opened)]="navOpened">
        <div class="side-nav">
            <h2>Sidenav content</h2>
            <div class="user-panel">
                <button mat-raised-button color="primary" routerLink="/login">Login</button>
                <button mat-stroked-button color="accent"  routerLink="/register">Register</button>
            </div>
        </div>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <button mat-button (click)="sidenav.toggle()">
                    <mat-icon *ngIf="!navOpened">menu</mat-icon>
                    <mat-icon *ngIf="navOpened">close</mat-icon>
                </button>
                <mat-icon>keyboard</mat-icon><h1>Pishcode</h1>
                <span class="example-spacer"></span>
                <nav>
                    <a routerLink="/">Home</a>
                    <a routerLink="/books">Books</a>
                </nav>
            </mat-toolbar-row>
        </mat-toolbar>
        <div id="main" class="container">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

