<mat-card class="book-detail">
  <mat-card-title>
    {{(book | async)?.title}}
  </mat-card-title>
  <mat-card-subtitle>{{(book | async)?.author}}</mat-card-subtitle>
  <mat-card-content>
    <div class="book-cover">
      <img [src]="(book | async)?.image" [alt]="(book | async)?.title">
    </div>
    <div class="book-info">
      Country: {{(book | async)?.country}} <br/>
      Language: {{(book | async)?.language}} <br/>
      Published: {{(book | async)?.year}} <br/>
    </div>
    <mat-divider></mat-divider>
    <p>
      {{(book | async)?.description}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button routerLink="/books">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <a mat-raised-button color="primary" [href]="(book | async)?.link" target="_blank">Go to</a>
  </mat-card-actions>
</mat-card>