<mat-card class="book-detail" *ngIf="book$ | async as book">
  <mat-card-title>
    {{book.title}}
  </mat-card-title>
  <mat-card-subtitle>{{book.author}}</mat-card-subtitle>
  <mat-card-content>
    <div class="book-cover">
      <img [src]="book.image" [alt]="book.title">
    </div>
    <div class="book-info">
      Country: {{book.country}} <br/>
      Language: {{book.language}} <br/>
      Published: {{book.published}} <br/>
      Pages: {{book.pages}} <br/>
    </div>
    <h3>Price: {{book.price | money}}</h3>
    <mat-divider></mat-divider>
    <p>
      {{book.description}}
    </p>
    <mat-divider></mat-divider>
    <div *ngIf="averageRating$ | async as averageRating; else noReview">
      Average Stars: {{averageRating | number:'1.0-2'}}
    </div>
    <ng-template #noReview>
      <div>No reviews</div>
    </ng-template>
    <div class="reviews">
      <div *ngFor="let review of reviews$ | async" class="review">
        {{review.userId}} gave {{review.bookId}} {{review.stars}} stars
        <p>
          {{review.review}}
        </p>
      </div>
    </div>
    <div *ngIf="(isAuthenticated$ | async) && !(hasUserBookReview$ | async)">
      <app-review-form [bookId]="bookId"></app-review-form>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button routerLink="/books">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <a mat-raised-button color="primary" [href]="book.link" target="_blank">Go to</a>
  </mat-card-actions>
</mat-card>